/* My website body fonts including Poppins, Nunito and Roboto */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@100;300&family=Roboto:wght@100&display=swap');

body{
    font-family: 'Poppins', 'Nunito', 'Roboto', sans-serif;
    background-color: #fcfbfb;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(251, 133, 0, 0.8);
}

nav a:hover{
    background-color: #fffbbd;
    color: #1d1a05;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}
.home-title{
    color: black;
    font-family: 'Nunito', 'Poppins', 'Roboto', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color:black;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
    font-family: 'Roboto', 'Poppins', 'Nunito', sans-serif;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

#background{
    height: 725px;
}

.book{
    background-color: #1b4079;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover{
    background-color: #fffbbd;
    color: #1b4079;

}

.join{
    background-color: #1b4079;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover{
    background-color: #fffbbd;
    color: #1b4079;
}

#background{
    background-color: #7fb069;

}

.msg{
    background-color: #7fb069;
    color: white;
    line-height: 1.5em;
    padding: 35px;

}

.msg h2{
    color: white;
    font-family: 'Nunito', 'Poppins', 'Roboto', sans-serif;
    margin: 0;
}

.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    background-color: rgba(27, 64, 121, 0.9);
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    background-color: #fffbbd;
    color: #1d1a05;
}

footer .social img{
    padding-top: 15px;
}

#hero-img{
    width: 100%;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#logo-link{
    padding-top: 5px;
}

.rivers-card{
    margin: 200px 0;
}

.camping-card{
    margin: 200px 0;
}

.rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid black;
}